<mat-toolbar  color="primary">
  <button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Tienda</span>
  <span class="example-spacer"></span>
  <a [routerLink]="['/home']" title="Inicio" mat-button><mat-icon>home</mat-icon></a>
  <a [routerLink]="['/productos']" title="Productos" mat-icon-button ><mat-icon>important_devices</mat-icon></a>
  <a [routerLink]="['/pago']" title="Pago" mat-button><mat-icon>payment</mat-icon></a>
  <button [routerLink]="['/carrito']" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
</mat-toolbar>
